{% extends 'basic.html' %}
{% load static %}
{% block head %}
<meta name="description" content="Welcome to DR HANZLA FF OFFICIAL WEBSITE. Here You can see me playing freefire and can also get information on any topic.">
{% endblock head%}
{% block homeactive %}active{% endblock homeactive %}
{% block title %}Home{% endblock title %}
{% block css %}
<style>
    #hero {
        background-image: url({% static 'images/home.png' %})
    }
    .typed-cursor{
        color: blueviolet;
        {% comment %} background: linear-gradient(45deg, black, #b59c9c); {% endcomment %}
    }
    .display-4 {
        font-size: calc(1.475rem + 2.7vw);
        /* font-weight: 300; */
        line-height: 1.3;
    }
    @media (min-width: 768px)
    .col-md-14{
        flex: 0 0 auto;
        width: 11.3333333%;
    }
</style>
{% endblock css %}
{% block body %}
<div class="container-fluid hero mt-4" id="hero">
    <div class="row g-0">
        <div class="col me-xl-4 col-md-4 col-lg-4"></div>
        <div class="col ms-xl-2 text-center">
            <img class="rounded-circle" style="width: 150px; height: 150px; margin-top:2rem; background: radial-gradient(black, transparent);" src="{% static 'images/logo.png' %}" alt="">
        </div>
        <div class="col"></div>
    </div> 
    <div class="row mt-3 g-0">
        <div class="col-md-2 col-sm-1 col-xs-2"></div>
        <div class="col-12 col-md-8 col-sm-12 col-xs-8">
            <h1 class="display-4 fw-bold text-white text-center">
                <span id="typed" style="background: repeating-linear-gradient(45deg, black, #b59c9c); color: blueviolet;"></span>
            </h1>
        </div>
        <div class="col-sm-2 col-xs-2"></div>
    </div>
    <div class="row g-0">
        <div class="col-sm-1 col-xs-1"></div>
        <div class="col-12 col-sm-12 col-md-10 col-xs-2 text-center">
            <p class="lead text-white" style="background: linear-gradient(45deg, black, #b59c9c);">Hi, This is Hanzla Anjum. I am a professional player of freefire. This is the official website of DR HANZLA FF. Here I will share the best gaming videos with you to help you in making your gaming better. You will also get tips and trick or information on any topic in freefire. Read My blogs to know about any topic on freefire. </p>
        </div>
        <div class="col-sm-1 col-xs-1"></div>
    </div>
    <div class="row g-0">
        <div class="row-col text-center">
            <a class="btn btn-warning btn-lg mb-3 me-1" href="/playlist" role="button">Playlists &raquo</a>
            <a class="btn btn-warning btn-lg mb-3" href="/blog/?page=1" role="button">Blogs &raquo</a>
        </div>
    </div>
</div>
{% comment %} Card starts here {% endcomment %}
<div class="row g-0">
    <div class="col col-md-1 col-lg-2 col-xl-2"></div>
    <div class="col justify-content-center d-flex">
        <div class="row g-0">
            <div class="m-2 card bg-warning text-white  p-0" style="width: 18rem;">
                <img src="{% static 'images/hero4.jpg' %}" style="height:165px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gaming Videos</h5>
                  <p class="card-text">Watch my best gaming content to enhance your gaming experience.You wil also get the in-game information.</p>
                  <a href="/playlist" class="btn btn-outline-light">Start Watching &raquo</a>
                </div>
            </div>
            
            <div class="m-2 card border-warning text-warning p-0" style="width: 18rem;">
                <img src="{% static 'images/card blog.jpg' %}" style="height:165px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gaming Articles</h5>
                    <p class="card-text">Read my blog to improve your vision and gaming experience. I am sure it will help you a lot for any information <a href="/contact" style="text-decoration: none;">Contact Me.</a></p>
                    <a href="/blog/?page=1" class="btn btn-outline-warning">Read Blogs &raquo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-1 col-xl-2"></div>
</div>
<div class="row g-0">
    <div class="col-12">
        <div id="container-dd70266a39485976b2106e26a032bb5e"></div>
    </div>
</div>
{% endblock body %}
{% block js %}
<script src="{% static 'js/typed/Customtyped.js' %}"></script>
{% endblock js %}