{% extends 'basic.html' %}
{% block title %}Native{% endblock title %}
{% block body %}
<div class="container">
    <script async="async" data-cfasync="false" src="//rubberbeak.com/dd70266a39485976b2106e26a032bb5e/invoke.js"></script>
    <div id="container-dd70266a39485976b2106e26a032bb5e"></div>
    <br><br>
    <script async="async" data-cfasync="false" src="//rubberbeak.com/be715986bb05826f43277775c9433a04/invoke.js"></script>
    <div id="container-be715986bb05826f43277775c9433a04"></div>
    <br><br>
    <script async="async" data-cfasync="false" src="//rubberbeak.com/f4f7e2e64b82afb708ba7b7b04a23435/invoke.js"></script>
    <div id="container-f4f7e2e64b82afb708ba7b7b04a23435"></div>

</div>
{% endblock body %}