{% extends 'basic.html' %}
{% block dropdownactive %}active{% endblock dropdownactive %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}
{% block profileactive %}active{% endblock profileactive %}
{% block title %}Profile{% endblock title %}
{% block body %}
<div class="container emp-profile" id="profileform">
    {% comment %} <h5>
        {{request.user.first_name}} {{request.user.last_name}}
    </h5> {% endcomment %}    
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="border">
                <div class="profile-img">
                    <input type="hidden" name="user" value="{{request.user}}">
                    <img class="rounded-circle" src="{% static 'images/user1.jpg' %}"  alt="User Image"/>
                    {% comment %} <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="col-12 mb-4 p-2">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Information</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Edit Profile</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="mt-4 ps-3 ms-2 mb-2 tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>User Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{request.user}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-md-6">
                                            <label>First Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{request.user.first_name}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{request.user.last_name}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{request.user.email}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{request.user.userdetail.phone}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane mt-4 ps-3 ms-2 fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <form action="/profile/" class="profileForm" method="post">{% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{request.user}}</p>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{request.user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-md-6">
                                                <label>First Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{request.user.first_name}}" style="background-color:rgb(209, 213, 219); border: none; padding: 3px; border-radius:10px; width: 70%;" name="firstName" id="firstName">
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-md-6">
                                                <label>Last Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{request.user.last_name}}" style="background-color:rgb(209, 213, 219); border: none; padding: 3px; border-radius:10px; width: 70%;" name="lastName" id="lastName">
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{request.user.userdetail.phone}}" style="background-color:rgb(209, 213, 219); border: none; padding: 3px; border-radius:10px; width: 70%;" name="phone" id="phone">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9"></div>
                                            <div class="col-3">
                                                <button type="submit" class="profile-edit-btn">Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} Ads Start here {% endcomment %}
<div class="row g-0 border-2 border-top border-bottom" style="margin-top: 3rem;">
    <div class="col-12">
        <div id="container-dd70266a39485976b2106e26a032bb5e"></div>
    </div>
  </div>
{% endblock body %}