{% extends 'basic.html' %}
{% load static %}
{% load humanize %}
{% block head %}
<meta name="description" content="Search about for what you are looking.I am sure you can find it here easily.">
{% endblock head %}
{% block title %}{{query}} | Search{% endblock title %}
{% block body %}
<div class="container mt-3">
    {% if allposts|length < 1 %}
    {% if allplaylists|length < 1 %}
    {% if all_videos|length < 1 %}
    <h5> Your search - <b><span class="text-muted">{{query}}</span></b> - did not match any documents.</h5>
    <br>
    <h5 class="mt-0">Suggestions:</h5>
    <ul>
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try different keywords.</li>
        <li>Try more general keywords.</li>
    </ul>
    {% endif %}
    {% endif %}
    {% endif %}
    {% if allposts|length > 0 %}
    {% if allplaylists|length > 0 %}
    {% if all_videos|length > 0 %}
    {% if query|length > 0 %}
    <h1>Searched Results for <span class="text-muted">{{query}}</span></h1>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% if query|length > 1 %}
    {% if allplaylists.count > 0 %}
    <h1>Playlists</h1>
    {% endif %}
    {% comment %} carousel starts here {% endcomment %}
    <div class="row">
        <div class="col-1 col-sm-2 col-md-0"></div>
        <div class="col-10 col-sm-8 col-md-12">
            <div class="row">
                {% for i in allplaylists %}
                <div class="col-md-6 d-flex col-lg-4">
                    {% comment %} <div class="row"> {% endcomment %}
                        <div class="m-4 card bg-warning text-white  p-0" style="width: 17rem;">
                            <img src="{{i.thumbnail_link}}" style="height:165px;" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{i.name}}</h5>
                                <p class="card-text">{{i.description}}</p>
                                <a href="/playlist/{{i.slug}}/?video=1" class="btn btn-outline-light">Start Watching &raquo</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-1 col-sm-2 col-md-0"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if all_videos.count > 0 %}
            <h1>Videos</h1>
            {% endif %}
            <div class="col-md-12">
                {% for i in all_videos %}
                        <a href="/playlist/{{i.playlist.slug}}/?video={{i.serial_no}}" style="text-decoration: none; color: initial">
                        <div class="row g-0 pe-3 mb-4 shadow-lg bg-light bg-body-rounded rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                            <div class="col border-bottom border-3 ps-4 d-flex flex-column position-static bg-light">
                            <h4 class="my-3 me-4 text-uppercase fw-bold">
                                {{i.Title|truncatewords:8}}
                            </h4>
                            <p class="preview">{{i.content|truncatewords:7}}</p>
                            </div>
                        </div>
                        </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {% if allposts.count > 0 %}
            <h1>Blogs</h1>
            {% endif %}
            <div class="col-md-12">
                {% for i in allposts %}
                <a href="/blog/{{i.slug}}" style="text-decoration: none; color: initial">
                    <div class="row g-0 pe-3 mb-4 shadow-lg bg-light bg-body-rounded rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                    <div class="col border-bottom border-3 ps-4 d-flex flex-column position-static bg-light">
                        <h3 class="my-3 me-4 text-uppercase fw-bold fs-1">
                        {{i.title|truncatewords:4}}
                        </h3>
                        <p class="preview">{{i.content|truncatewords:10}}</p>
                        <div class="row mb-2">
                        <div class="col">
                            <small class="text-muted fw-bold text-uppercase">{{i.time_stamp|naturaltime}}</small>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <small class="text-muted fw-bold text-uppercase">{{i.author}}</small>
                        </div>
                        </div>
                    </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if query|length < 1 %}
    {% if allplaylists.count > 0 %}
    <h1>Playlists</h1>
    {% endif %}
    {% comment %} carousel starts here {% endcomment %}
    <div class="row">
        <div class="col-1 col-sm-2 col-md-0"></div>
        <div class="col-10 col-sm-8 col-md-12">
            <div class="row">
                {% for i in allplaylists|slice:":3" %}
                <div class="col-md-6 col-lg-4">
                    {% comment %} <div class="row"> {% endcomment %}
                        <div class="m-4 card bg-warning text-white  p-0" style="width: 17rem;">
                            <img src="{{i.thumbnail_link}}" style="height:165px;" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{i.name}}</h5>
                                <p class="card-text">{{i.description}}</p>
                                <a href="/playlist/{{i.slug}}" class="btn btn-outline-light">Start Watching &raquo</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-1 col-sm-2 col-md-0"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if all_videos.count > 0 %}
            <h1>Videos</h1>
            {% endif %}
            <div class="col-md-12">
                {% for i in all_videos|slice:":5" %}
                        <a href="/playlist/{{i.playlist.slug}}/?video={{i.serial_no}}" style="text-decoration: none; color: initial">
                        <div class="row g-0 pe-3 mb-4 shadow-lg bg-light bg-body-rounded rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                            <div class="col border-bottom border-3 ps-4 d-flex flex-column position-static bg-light">
                            <h4 class="my-3 me-4 text-uppercase fw-bold">
                                {{i.Title|truncatewords:8}}
                            </h4>
                            <p class="preview">{{i.content|truncatewords:7}}</p>
                            </div>
                        </div>
                        </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {% if allposts.count > 0 %}
            <h1>Blogs</h1>
            {% endif %}
            <div class="col-md-12">
                {% for i in allposts|slice:":5" %}
                <a href="/blog/{{i.slug}}" style="text-decoration: none; color: initial">
                    <div class="row g-0 pe-3 mb-4 shadow-lg bg-light bg-body-rounded rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                    <div class="col border-bottom border-3 ps-4 d-flex flex-column position-static bg-light">
                        <h3 class="my-3 me-4 text-uppercase fw-bold fs-1">
                        {{i.title|truncatewords:4}}
                        </h3>
                        <p class="preview">{{i.content|truncatewords:10}}</p>
                        <div class="row mb-2">
                        <div class="col">
                            <small class="text-muted fw-bold text-uppercase">{{i.time_stamp|naturaltime}}</small>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <small class="text-muted fw-bold text-uppercase">{{i.author}}</small>
                        </div>
                        </div>
                    </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div id="container-dd70266a39485976b2106e26a032bb5e"></div>
        </div>
    </div>
</div>
{% endblock body %}