{% extends 'basic.html' %}
{% load static %}
{% block head %}
<meta name="description" content="Watch DR HANZLA FF playing freefire get his tips and tricks to improve your gaming experience your comments are always valuable to me.">
<meta name="keywords" content="{% for i in video.tag_set.all %}{{i.tag}},{% endfor %}">
<meta property="og:image" content={{video.thumbnail_link}}>
<meta property="og:title"         content="{{video.Title}}" />
{% endblock head %}
{% block title %}{{video.Title}}{% endblock title %}
{% block playlistactive %}active{% endblock playlistactive %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/video.css' %}">
{% endblock css %}
{% block body %}
<div class="container mt-4">
    {% comment %} Iframe and buttons row {% endcomment %}
    <div class="row g-0">
        <div class="col-12 border-end col-sm-12 col-md-8 bg-dark p-4 text-warning">
            <iframe id="player" width="100%" height="315" src="https://www.youtube.com/embed/{{video.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% comment %} <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-4 col-sm-4 col-md-4 mt-1">
                            {% if prev_vid %}
                            <a href="?video={{prev_vid}}" role="button" class="btn btn-secondary text-uppercase fw-bold">&laquo;</a>
                            {% else %}
                            <a href="javascript:void(0);" role="button" class="disabled btn btn-secondary text-uppercase fw-bold">&laquo;</a>
                            {% endif %}
                        </div>
                        <div class="col-3 col-sm-4 col-md-4 col-lg-5"></div>
                        <div class="col-4 col-sm-4 text-end col-md-4 col-lg-3 mt-1">
                            {% if next_vid %}
                            <a href="?video={{next_vid}}" role="button" style="margin-left:3.4rem;" class="btn btn-secondary text-uppercase fw-bold">&raquo;</a>
                            {% else %}
                            <a href="javascript:void(0);" role="button" style="margin-left:3.4rem;" class="disabled btn btn-secondary text-uppercase fw-bold">&raquo;</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <ul class="list-group" id="video_list">
                {% for i in videos %}
                <a style="text-decoration: none; color:black;" href="?video={{i.serial_no}}">
                    <small>
                        <li class="list-group-item item {% if i == video %}active{% endif %} fs-5">
                        <div class="row">
                            <div class="col-4">
                                <img src="{{i.thumbnail_link}}" style="width : 100%; height:60px;" alt="Image">
                            </div>
                            <div class="col-8">{{i|truncatechars:25}}</div>
                        </div>
                        </li>
                    </small>
                </a>
                {% endfor %}
            </ul>
        </div>    
    </div>
    
    {% comment %} Video Row {% endcomment %}
    <div class="row g-0">
        <div class="col-12 col-sm-12 border-end col-md-8">
            <h1 class="mt-3 border-bottom border-2">{{video.Title}}</h1>
            <div class="fb-share-button" data-href="https://drhanzlaff.herokuapp.com/playlist/{{video.playlist.slug}}/?video={{video.serial_no}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdrhanzlaff.herokuapp.com%2Fplaylist%257B%257Bvideo.playlist.slug%257D%257D%2F%3Fvideo%3D%257B%257Bvideo.serial_no%257D%257D&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
        </div>
    </div>

    {% comment %} Comment and description Row {% endcomment %}
    <div class="row g-0 mt-1">
        <div class="col-12border-end col-md-8 mb-4 p-2" id="video">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">OverView</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Q&A</button>
                </div>
              </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="preview mt-4 ps-3 ms-2 mb-2 tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    {{video.content}}
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="commentSection">
                        {% include 'home/comment.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ms-2 d-none d-md-block" id="Ads">
            <script type="text/javascript">
                atOptions = {
                    'key' : '41ebd011afafd04ff3d23848ebdde795',
                    'format' : 'iframe',
                    'height' : 250,
                    'width' : 300,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://rubberbeak.com/41ebd011afafd04ff3d23848ebdde795/invoke.js"></scr' + 'ipt>');
            </script>
            <script type="text/javascript">
                atOptions = {
                    'key' : '41ebd011afafd04ff3d23848ebdde795',
                    'format' : 'iframe',
                    'height' : 250,
                    'width' : 300,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://rubberbeak.com/41ebd011afafd04ff3d23848ebdde795/invoke.js"></scr' + 'ipt>');
            </script>
            
            
        </div>
    </div>

    {% comment %} Ads Row {% endcomment %}
    {% comment %} Ads Start here {% endcomment %}
  <div class="row g-0 border-2 border-top border-bottom" style="margin-top: 3rem;">
    <div class="col-12">
        <div id="container-dd70266a39485976b2106e26a032bb5e"></div>
    </div>
  </div>
</div>
{% endblock body %}
{% block js %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v12.0&appId=976590069731068&autoLogAppEvents=1" nonce="zx7cTzyH"></script>
<script src="{% static 'js/playerRatio.js' %}"></script>
<script src="{% static 'js/typed/comment.js' %}"></script>
<script src="{% static 'js/typed/reply.js' %}"></script>
<script>
    $(document).on('submit', '.commentForm', function(event){
      event.preventDefault();
      $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: $(this).serialize(),
        dataType: 'json',
        success: function(response){
            $('.commentSection').html(response.form);
            $('.comment').val('');
        },
        error: function(rs, e){
        console.log("failed");
        },
     });
    });
    $(document).on('submit', '.replyForm', function(event){
      event.preventDefault();
      $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: $(this).serialize(),
        dataType: 'json',
        success: function(response){
            $('.commentSection').html(response.form);
            $('.comment').val('');
        },
        error: function(rs, e){
        console.log("failed");
        },
     });
    });
  </script>


  {% comment %} <script>
    var x;
    x = document.getElementById('video');
    var h = x.clientHeight;
    console.log(h)
    var h2 = h/250;
    var h3 = Math.round(h2);
    var i = 1;
    for (i; i<=h3; i++){
     var ad = document.getElementById('Ads');
     ad.innerHTML+=(
       `<script type="text/javascript">
                  atOptions = {
                      'key' : '41ebd011afafd04ff3d23848ebdde795',
                      'format' : 'iframe',
                      'height' : 250,
                      'width' : 300,
                      'params' : {}
                  };
                  document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://rubberbeak.com/41ebd011afafd04ff3d23848ebdde795/invoke.js"></scr' + 'ipt>');
              <\/script>`
              );
    }
  </script> {% endcomment %}
{% endblock js %}
