/* scrollbar css */
/* width */
::-webkit-scrollbar{
    width: 6px;
}
/* Track */
::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0);
}

/* Handle on :hover */
::-webkit-scrollbar-thumb:hover{
    background: rgb(76, 75, 77);
}
