/*
=========================================
=========================================

Bootstrap Temple Blog Template

=========================================
========================================= */
/*

* =====================
* GENERAL
* =====================
*/
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
.widget.latest-posts .views::after,
.widget.latest-posts .comments::after {
  content: '|';
  display: inline-block;
  margin: 0 7px;
  font-size: 0.9em;
  color: #ccc;
}

.widget.latest-posts .comments::after {
  display: none;
}

.widget.latest-posts .item {
  margin-bottom: 20px;
}

.widget.latest-posts strong {
  font-size: 0.95em;
  display: block;
  line-height: 1em;
}

.widget.latest-posts .views,
.widget.latest-posts .comments {
  font-size: 0.8em;
  font-weight: 400;
  color: #bbb;
  margin-top: 10px;
}

.widget.latest-posts .views i,
.widget.latest-posts .comments i {
  margin-right: 5px;
}


strong {
  font-weight: 700;
}
aside {
  padding: 50px 0 100px;
}

.widget {
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid #eee;
}

.widget header {
  margin-bottom: 20px;
}